<nav class='pagination' role='navigation' aria-label='pagination'>
    {{#if pagination.prev}}
        <a href='{{page_url prev}}' class='pagination-button pagination-next'>
            Newer Episodes
        </a>
    {{/if}}

    <span class='pagination-link is-current'>
        Page {{page}} of {{pages}}
    </span>

    {{#if next}}
        <a
            href='{{page_url next}}'
            class='pagination-button pagination-previous'
        >
            Older Episodes
        </a>
    {{/if}}
</nav>