<section class="podcast-hero">
    <article class="podcast-hero-content">
        <div class="podcast-hero-header">
            <h1 class="podcast-hero-title">CivilTalk Podcast</h1>
            <h2 class="podcast-hero-subtitle">Discussions on Civility, Emotional
                Intelligence and Social Emotional Learning</h2>
            <ul class="podcast-hero-links">
                <li class="podcast-hero-link-container">
                    <a
                        class="podcast-hero-link"
                        href="https://podcasts.apple.com/us/podcast/civiltalk/id1752200098"
                        rel="noreferrer"
                        referrerpolicy="no-referrer"
                        target="_blank"
                    >
                        <div class="podcast-link-content">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                viewBox="0 0 48 48"
                            ><defs><linearGradient
                                        id="a"
                                        x1="24"
                                        x2="24"
                                        y2="48"
                                        gradientUnits="userSpaceOnUse"
                                    ><stop
                                            offset="0"
                                            stop-color="#f452ff"
                                        /><stop
                                            offset="1"
                                            stop-color="#832bc1"
                                        /></linearGradient></defs><title
                                >icon-itunes</title><path
                                    d="M5.0494,42.9506C1.3663,39.2675,0,33.2675,0,24S1.3663,8.7325,5.0494,5.0494,14.7325,0,24,0,39.2675,1.3663,42.9506,5.0494,48,14.7325,48,24s-1.3663,15.2675-5.0494,18.9506S33.2675,48,24,48,8.7325,46.6337,5.0494,42.9506Z"
                                    fill="url(#a)"
                                /><path
                                    d="M27.4968,27.7337a4.8446,4.8446,0,0,0-3.5037-1.2565,4.836,4.836,0,0,0-3.5037,1.2565,2.2253,2.2253,0,0,0-.6412,1.3924,18.0637,18.0637,0,0,0,.0778,3.6569c.1252,1.481.3648,3.4563.6778,5.47a20.953,20.953,0,0,0,.5678,2.7589,2.7358,2.7358,0,0,0,2.8215,1.6817,2.7348,2.7348,0,0,0,2.8215-1.6817,20.7911,20.7911,0,0,0,.5678-2.7589c.313-2.012.5527-3.9873.6779-5.47a18.244,18.244,0,0,0,.08-3.6569A2.2156,2.2156,0,0,0,27.4968,27.7337Zm-7.4543-6.8153A3.9571,3.9571,0,1,0,24,16.9613,3.9566,3.9566,0,0,0,20.0425,20.9184ZM23.95,5.3061a16.9989,16.9989,0,0,0-5.5761,33.04.2289.2289,0,0,0,.3022-.2482c-.0885-.5807-.17-1.1658-.2461-1.7422a.5811.5811,0,0,0-.3432-.46,14.8254,14.8254,0,1,1,11.828,0,.581.581,0,0,0-.3433.46c-.0756.5743-.1576,1.1593-.2461,1.74a.2279.2279,0,0,0,.3022.2483A16.998,16.998,0,0,0,23.95,5.3061Zm-.3087,7.8a9.2087,9.2087,0,0,1,6.6642,15.9211.7109.7109,0,0,0-.2224.5526,16.7492,16.7492,0,0,1-.0194,1.9408.2245.2245,0,0,0,.35.1986,11.387,11.387,0,1,0-12.8188.0021.2231.2231,0,0,0,.3475-.1986,15.9,15.9,0,0,1-.0194-1.9429.7037.7037,0,0,0-.2223-.5526,9.2092,9.2092,0,0,1,5.9409-15.9211Z"
                                    fill="#fff"
                                /></svg>
                        </div>
                        <span>
                            Apple
                        </span>
                    </a>
                </li>
                <li class="podcast-hero-link-container">
                    <a
                        class="podcast-hero-link"
                        href="https://open.spotify.com/show/1MnIH2XYvbAmCv9rqAUgp5?si=mMjZb3uQRlOwTJBqxxmq_g&nd=1&dlsi=fb6c9e3f77734f71"
                        rel="noreferrer"
                        referrerpolicy="no-referrer"
                        target="_blank"
                    >

                        <div class="podcast-link-content">
                            <svg
                                enable-background="new 0 0 48 48"
                                viewBox="0 0 48 48"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="m5 43c-3.7-3.7-5-9.7-5-19s1.4-15.3 5-19 9.7-5 19-5 15.3 1.4 19 5 5 9.7 5 19-1.4 15.3-5 19-9.7 5-19 5-15.3-1.4-19-5z"
                                    fill="#1ed760"
                                />
                                <g fill="#fff"><path
                                        d="m35.5 34.9c-.4.7-1.4 1-2.1.5-5.8-3.5-13-4.3-21.6-2.4-.8.2-1.6-.3-1.8-1.2-.2-.8.3-1.6 1.2-1.8 9.4-2.1 17.4-1.2 23.9 2.7.7.5.9 1.4.4 2.2z"
                                    />
                                    <path
                                        d="m38.5 28.2c-.6.9-1.7 1.2-2.6.6-6.6-4.1-16.7-5.2-24.5-2.9-1 .3-2.1-.3-2.4-1.3s.3-2.1 1.3-2.4c8.9-2.7 20-1.4 27.6 3.3.9.6 1.2 1.8.6 2.7z"
                                    />
                                    <path
                                        d="m38.8 21.2c-7.9-4.7-21-5.1-28.6-2.8-1.2.3-2.5-.4-2.8-1.6-.4-1.2.3-2.5 1.5-2.9 8.7-2.6 23.1-2.1 32.3 3.3 1.1.6 1.5 2.1.8 3.2s-2.1 1.4-3.2.8z"
                                    />
                                </g>
                            </svg>
                        </div>
                        <span>
                            Spotify
                        </span>

                    </a>
                </li>
                <li class="podcast-hero-link-container">
                    <a
                        class="podcast-hero-link"
                        href="https://www.youtube.com/@civiltalkpodcast"
                        rel="noreferrer"
                        referrerpolicy="no-referrer"
                        target="_blank"
                    >

                        <div class="podcast-link-content">
                            <svg
                                {{! height="800px"
                                width="800px" }}
                                version="1.1"
                                id="Layer_1"
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                viewBox="0 0 461.001 461.001"
                                enable-background="new 0 0 48 48"
                                xml:space="preserve"
                            >
                                <g fill="#fff">
                                    <path
                                        style="fill:#F61C0D;"
                                        d="M365.257,67.393H95.744C42.866,67.393,0,110.259,0,163.137v134.728 c0,52.878,42.866,95.744,95.744,95.744h269.513c52.878,0,95.744-42.866,95.744-95.744V163.137 C461.001,110.259,418.135,67.393,365.257,67.393z M300.506,237.056l-126.06,60.123c-3.359,1.602-7.239-0.847-7.239-4.568V168.607 c0-3.774,3.982-6.22,7.348-4.514l126.06,63.881C304.363,229.873,304.298,235.248,300.506,237.056z"
                                    />
                                </g>
                            </svg>
                        </div>
                        <span>
                            YouTube
                        </span>

                    </a>
                </li>
            </ul>
        </div>
    </article>
</section>