{{!< default}}
<main>
    <div class="gh-container">
        {{> "podcast-hero"}}
        <section class="podcast-grid">
        {{#foreach posts}}

            {{> "podcast-card" page=../pagination.page }} {{!-- partials/card.hbs --}}

        {{/foreach}}
        </section>
<div>
  {{pagination}}
</div>

        {{!-- If JS isn't enabled, fallback to standard pagination --}}
        {{!-- <noscript>
            <div class="gh-pagination">
            </div>
        </noscript> --}}
    </div>
</main>
