{{!< default}}


{{#post}}
    {{! <section class="podcast-hero">
    <article class="podcast-hero-content">
        <div class="podcast-hero-header">
            <h1 class="podcast-hero-title">{title}</h1>
            <h2 class="podcast-hero-subtitle">Discussions on Civility, Emotional
                Intelligence and Social Emotional Learning</h2>
                </article>
                </section> }}

    <article class="{{post_class}}">
            <header class="why-civiltalk-hero">
                <div class="why-civiltalk-hero-content">
                    <h1 class="why-civiltalk-hero-title">{{title}}</h1>

                    <h2 class="why-civiltalk-hero-subtitle">
                        {{custom_excerpt}}
                    </div>
                </div>
            </header>
    </article>
{{/post}}