/* fonts
/* ---------------------------------------------------------- */
@font-face {
    font-family: "sophia pro";
    font-weight: 300;
    font-display: auto;
    font-style: normal;
    font-stretch: normal;
    src: url("../fonts/sophia-pro-normal-300.woff2") format("woff2"),
        url("../fonts/sophia-pro-normal-300.woff") format("woff");
}

@font-face {
    font-family: "sophia pro";
    font-weight: 300;
    font-display: auto;
    font-style: italic;
    font-stretch: normal;
    src: url("../fonts/sophia-pro-italic-300.woff2") format("woff2"),
        url("../fonts/sophia-pro-italic-300.woff") format("woff");
}

@font-face {
    font-family: "sophia pro";
    font-weight: 400;
    font-display: auto;
    font-style: normal;
    font-stretch: normal;
    src: url("../fonts/sophia-pro-regular-400.woff2") format("woff2"),
        url("../fonts/sophia-pro-regular-400.woff") format("woff");
}

@font-face {
    font-family: "sophia pro";
    font-weight: 400;
    font-display: auto;
    font-style: italic;
    font-stretch: normal;
    src: url("../fonts/sophia-pro-italic-400.woff2") format("woff2"),
        url("../fonts/sophia-pro-italic-400.woff") format("woff");
}

@font-face {
    font-family: "sophia pro";
    font-weight: 500;
    font-display: auto;
    font-style: normal;
    font-stretch: normal;
    src: url("../fonts/sophia-pro-normal-500.woff2") format("woff2"),
        url("../fonts/sophia-pro-normal-500.woff") format("woff");
}

@font-face {
    font-family: "sophia pro";
    font-weight: 500;
    font-display: auto;
    font-style: italic;
    font-stretch: normal;
    src: url("../fonts/sophia-pro-italic-500.woff2") format("woff2"),
        url("../fonts/sophia-pro-italic-500.woff") format("woff");
}

@font-face {
    font-family: "sophia pro";
    font-weight: 600;
    font-display: auto;
    font-style: normal;
    font-stretch: normal;
    src: url("../fonts/sophia-pro-normal-600.woff2") format("woff2"),
        url("../fonts/sophia-pro-normal-600.woff") format("woff");
}

@font-face {
    font-family: "sophia pro";
    font-weight: 600;
    font-display: auto;
    font-style: italic;
    font-stretch: normal;
    src: url("../fonts/sophia-pro-italic-600.woff2") format("woff2"),
        url("../fonts/sophia-pro-italic-600.woff") format("woff");
}

@font-face {
    font-family: "sophia pro";
    font-weight: 700;
    font-display: auto;
    font-style: normal;
    font-stretch: normal;
    src: url("../fonts/sophia-pro-normal-700.woff2") format("woff2"),
        url("../fonts/sophia-pro-normal-700.woff") format("woff");
}

@font-face {
    font-family: "sophia pro";
    font-weight: 700;
    font-display: auto;
    font-style: italic;
    font-stretch: normal;
    src: url("../fonts/sophia-pro-italic-700.woff2") format("woff2"),
        url("../fonts/sophia-pro-italic-700.woff") format("woff");
}

/* Variables
/* ---------------------------------------------------------- */

:root {
    /* Colors */
    --color-primary: var(--ghost-accent-color, #edb801);
    --color-base: #333333;
    --color-border: #ddd;
    --color-bg: #b0cabd;
    --color-dark-olive: #9ab5a5;
    --color-success: #80b912;
    --color-error: #f05230;
    --color-gray: #333;
    --color-white: #ffffff;

    /* Fonts */
    /* --font-sans-serif: "sophia pro", Helvetica Neue, sans-serif; */
    --font-sans-serif: "sophia pro", sans-serif;
    --font-serif: Georgia, Times, serif;
    --font-light: 100;
    --font-normal: 400;
    --font-semi-bold: 600;
    --font-bold: 700;
    --font-heavy: 800;

    /* Breakpoints */
    --xlarge: 1680px;
    --large: 1280px;
    --medium: 980px;
    --small: 740px;
    --xsmall: 480px;

    /* Sizes */
    --height: 4rem;
    --margin: 2rem;
    --radius: 0.5rem;

    /* Box Shadow */
    --image-box-shadow: 10px 7px 5px rgba(150, 150, 150, 0.7);
}
