/* Variables
/* ---------------------------------------------------------- */

:root {

    /* Colours */
    --color-primary: var(--ghost-accent-color, #EDB801);
    --color-base: #333333;
    --color-border: #ddd;
    --color-bg: #B0CABD;
    --color-dark-olive: #9AB5A5;
    --color-success: #80b912;
    --color-error: #f05230;
    --color-gray: 	#333;
    --color-white: #ffffff;

    /* Fonts */
    --font-sans-serif: 'Sophia Pro', "Helvetica Neue", sans-serif;    
    --font-serif: Georgia, Times, serif;
    --font-light: 100;
    --font-normal: 400;
    --font-bold: 700;
    --font-heavy: 800;

    /* Breakpoints */
    --xlarge: 1680px;
    --large: 1280px;
    --medium: 980px;
    --small: 740px;
    --xsmall: 480px;

    /* Sizes */
    --height: 4rem;
    --margin: 2rem;
    --radius: 0.5rem;

    /* Box Shadow */
    --image-box-shadow: 8px 8px 5px rgba(153, 153, 153, 0.5);
}
